body{
    
}
.container{
    display: flex;
    font-size: large;
}
.sidebar{
    flex : 0 1 200px;
    display: flex;
    flex-direction: column;
}
.content{
    min-height: 100vh;
    flex : 1;
    width : 75%;
    background: linear-gradient(to bottom right, #06249e, #dbbef4);
}
.sidebar > *:not(button[title="Add List"]) {
    flex-shrink: 0;
}
button[title = "Add List"]{
    margin-top: auto;
}